body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: large;
    font-weight: bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Main colors */

:root {
    --main-bg-color: #5899ad;
  --main-bg-color: #5899ad;
  --colour--two: #d3e0e4;
  --colour--three: #8badb8;
}

.button {
  background-color: var(--colour--three);
  border-radius: 10px;
}

/* FEEDPAGE */
.threeColumnFlex {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.newPost {
    background-color: #a6e1f3;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarColumn {
    background-color: lightgray;
}

.feedColumn {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*.postComponent:hover {
    box-shadow: 5px 5px 5px;
  background-color: var(--colour--three);
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
} */

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.sidebarColumn {
  background-color: white;
  overflow: hidden;
  flex-direction: column;
  margin-left: 50px;
}

.feedColumn {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 550px;
  color: rgb(0, 0, 0);
  width: 500px;
  margin: auto;
}

.userprofile-image {
  height: 50px;
  margin-top: 30%;
}

.postHeader {
  
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.column-3 {
  width: 350px;
  height: 100%;
  overflow: hidden;
  background-color: var(--colour--two);
  border-style: initial;
  border-radius: 0px;
  margin-right: 100px;
  padding: 10px;
  text-align: center;
}

.desc {
    width: auto;
    background-color: var(--colour--three);
}

.postComponent {
  background-color: var(--colour--two);
  border-style: initial;
  border-radius: 0px;
  margin: 5px;
  padding: 5px;
  
}

.postComponent:hover {
  cursor: pointer;
  background-color: var(--colour--three);
} 

/*POST COMPONENTS */
.title {
    font-style: initial;
    font-size: larger;
    color: rgb(60, 76, 97);
    text-align: center;
}

.created {
    font-style: italic;
    text-align: center;
    font-size: smaller;
    padding: 0%;
}

.price {
    font-style:initial;
    text-align: center;
}

.seeUserButton {
  cursor: pointer;
  background-color: var(--colour--three);
  border-radius: 10px;
}

.postComponent:active {
    background-color: var(--main-bg-color);
}

/* NEW POST PAGE */

.newPostForm {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: var(--colour--two);
  border-radius: 0px;
  width: 400px;
  padding: 10px;
  margin: auto;
}

.newPostForm textarea {
    resize: none;
}

.passwordButton {
    font-size: large;
    font-weight: bold;
    display: flex;
    width: 270px;
    flex-direction: column-reverse;
    display: flex;
    height: 5px;
    flex-direction: column;
    border-style: none;
    background: rgba(0, 0, 0, 0.6);
    color: #555;
    padding: 20px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.submit {
    font-size: large;
    font-weight: bold;
    position: absolute;
    border-style: none;
    border-radius: 20px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: var(--main-bg-color);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    font-weight: 700;
    width: 150px;
    margin-top: 1%;
    height: 40px;
}
.showPwButton {
    font-size: large;
    font-weight: bold;
    position: relative;
    border-style: none;
    border-radius: 20px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    margin-top: 13px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    background: var(--main-bg-color);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    font-weight: 700;
    width: 150px;
    height: 40px;
}

/* LOGIN PAGE */
.loginPage {
    display: flex;
    flex-direction: row;
}

.header {
    color: var(--main-bg-color);
    margin-left: 30px;
    font-size: 80px;
    font-style: oblique;
}

.loginForm {
    padding-left: 40%;
}

.loginTitle {
    margin-bottom: 10%;
    font-size: x-large;
}

.userName {
    width: 270px;
    font-size: large;
    font-weight: bold;
    height: 5px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    border-style: none;
    background: rgba(0, 0, 0, 0.6);
    color: #555;
    padding: 20px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.loginLogo {
    height: 250px;
}

.loginLeftColumn {
    width: 60%;
}

.infoBox {
    margin-left: 100px;
}

.loginText {
    font-size: xx-large;
    font-style: oblique;
}
.loginText2 {
    font-size: large;
    font-style: oblique;
}

.loginRightColumn {
    width: 40%;
    margin-right: 20%;
}

.loginBox {
    margin-top: 300px;
    margin-right: 100px;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footerText {
    color: white;
    font-weight: lighter;
    margin-left: 50px;
}
.error {
    color: red;
}

.registerclass {
    font-size: large;
    font-weight: bold;
    position: column;
    border-style: none;
    border-radius: 20px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: var(--main-bg-color);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    font-weight: 700;
    width: 310px;
    margin-top: 5%;
    height: 40px;
}

.registercenter {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
