body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* FEEDPAGE */

.threeColumnFlex {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  
}

.sidebar {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.sidebarColumn {
  background-color: red;
}

.feedColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.postComponent {
  background-color:white;
  border-style: solid;
  border-radius: 10px;
}

.postComponent:hover {
  box-shadow: 5px 5px 5px;
}

.postComponent:active {
  background-color: black;
}

/* LOGGIN SITE */

.userName {
  width: 150px;
  display: flex;
  flex-direction: column;
}


.passwordButton {
  display: flex;
  width: 150px;
  flex-direction: column-reverse;
}

.submit {
  display: flex;
  flex-direction: column;
}

